$white: #fff;
$black: #000;
$text-color: #333;

$button: #5587FF;
$button-hover: #1e4dbb;

$del-button: #C44F56;
$del-button-hover: #3b1215;

$link: #024CFF;
$link-hover: #00206b;

$input: #fff;
$input-border:#707070;

$error: #C44F56;
$success: #5F8124;

$status-ordered: #C44F56;
$status-payed: #FDC570;
$status-disponible: #FDFD70;
$status-delivered: #5F8124;
$status-stop: #bebebe;
