.header {
    width: 100%;
    padding: 1.5rem 5%;
    background-color: $black;

    &__wrapper {
        max-width: $max-width-desktop;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto
    }

    &__heading {
        @include franklin(32px, $white);
    }

    &__link {
        @include franklin(32px, $white);
        text-decoration: none;
    }
}
