.table {
    max-width: $max-width-desktop;
    min-width: 100%;
    border-collapse: collapse;
    // margin: 2rem auto;

    &__wrapper {
        width: 90%;
        margin: 0 auto;
        overflow-x: auto;
    }

    &__body {}

    &__data {
        padding: .5rem 1rem;
        max-width: 350px;

        &__status {}

        &--no-data {}

        &--action {
            form {
                text-align: center;
            }
        }
    }

    &__form {
        max-width: 300px;
        width: 100%;
    }

    &__head {}

    &__link {
        border: none;
        border-radius: $border-radius;

        &--delete {
            background-color: $del-button;
            transition: background-color .2s ease-in-out;
            padding: 5px;

            svg {
                fill: $white;
                width: 25px;
            }

            &:hover {
                background: $del-button-hover;

            }
        }
    }

    &__body &__row:nth-of-type(2n + 1) {
        background-color: #ddd;
    }

    &__heading {}

}

table,
td,
th {
    border: 1px solid #ddd;
    text-align: left;
    // max-width: 350px;
    @include franklin(16px)
}

.w-50 {
    width: 50px;
}

td:first-child {
    text-align: center;
}

td img {
    width: 100%;
    height: auto;
}

th,
th a {
    text-transform: uppercase;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    // width: 100%;

}

th,
td {
    padding: 15px;
}
